<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxWindowTimeInSeconds" value="40" />
    <add key="MaxWindowSize" value="50" />
    <add key="DefaultWindowSize" value="1" />
    <!-- CurrentThreadScheduler = 0, DefaultScheduler = 1, EventLoopScheduler = 2, HistoricalScheduler = 3, ImmediateScheduler = 5, NewThreadScheduler = 7, Scheduler = 8, TaskPoolScheduler = 9, ThreadPoolScheduler = 10 -->
    <add key="Scheduler" value="2" />
  </appSettings>
</configuration>