<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
    <packageSources>
        <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
        <add key="aritec" value="http://186.151.250.163:82/nugetserver/" />
    </packageSources>
  <apikeys>
    <add key="aritec" value="epsNuget123" />
  </apikeys>
</configuration>
