<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="graphVizLocation" value="C:\GraphViz" />
    <add key="MaxWindowTimeInSeconds" value="40" />
    <add key="MaxWindowSize" value="500" />
    <add key="DefaultWindowSize" value="1" />
    <!-- In milliseconds -->
    <add key="bufferSizeOfJoinSources" value="100" />
    <!-- CurrentThreadScheduler = 0, DefaultScheduler = 1, EventLoopScheduler = 2, HistoricalScheduler = 3, ImmediateScheduler = 5, NewThreadScheduler = 7, Scheduler = 8, TaskPoolScheduler = 9, ThreadPoolScheduler = 10 -->
    <add key="QueryScheduler" value="11" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>